@{
    ViewData["Title"] = "Log In";
}

<!--LOGIN FORM-->

<form id="logInForm">
    <div class="form-group">

        <label for="username">Username:</label>
        <input type="username" class="form-control" id="username"><br>

        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd"><br>

        <button type="submit" class="btn btn-success">Submit</button>

    </div>
</form>