<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Programming for the Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <div class="jumbotron text-center">

            <h1>Vote with Your Wallet</h1>
            <p>Express Your Objection To Unethical Business And Political Practices</p>

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Make A Change</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ViewCauses">View Causes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CreateCause">Create New Cause</a>
                            </li>
                            <ul />

                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item float-right">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SignUp">Sign Up</a>
                                </li>

                                li class="nav-item">
                                <!--The Login/Logout link will show 'Login" if the user is not logged out and will show 'Logout(username)' if the user is logged in-->
                                <a class="nav-link" href="~/Register/Login" data-target="#login">
                                    @{ if (Session["ID"] != null)
                                        {
                                    <li class="nav-item float-right">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogIn">Log In</a>
                                    </li>
                                        }
                                        else
                                        {
                            <li class="nav-item float-right">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogIn">Log Out</a>
                            </li>
                                            } }
                                    </a>
                                    </li>
                                </ul>

                    </div>
                </div>
            </nav>
            <div />
    </header>


    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebProgrammingCW2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
